#hero {
  width: 100%;
  position: relative;
}

#hero:before {
  content: "";
  background: #000;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  margin: 20px 0px 5px 0px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 575px) {
  #hero {
    width: 100%;
  }
}

.hero-waves {
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 30px;
  z-index: 5;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

.table-live {
  background: #f6f6f6;
  margin: 0px;
}

.rating {
  display: inline-block;
  font-size: 10px;
  padding: 0 3px;
  line-height: 1.3;
  color: white;
  margin-right: 2px;
}

.table-in {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid;
  margin-bottom: 5%;
}



.bg-img1 {
  width: 100%;
  height: 100vh;
}
.size1 {
  position: relative;
  text-align: center; 
}
.count-title{
  color: white;
  font-size: 30px;
  font-family:  sans-serif;
  font-weight:bold ;
}
.how-countdown {
  background-color: #fff;
  border-radius: 18px;
}
.size2{
  width: 80px;
  height: 90px;
}
.l1-txt3 {
  font-family: Montserrat-Bold;
  font-size: 36px;
  color: #555555;
  line-height: 1;
  padding-bottom: 9px;
  font-weight: bold;
}
.l1-txt2 {
  font-family: Montserrat-Bold;
  font-size: 16px;
  color: #555555;
  line-height: 1;
  padding-bottom: 9px;
  font-weight: bold;
}
.row-countdown{
  top:20%;
  justify-content: center;
   position: absolute;
  width: 100%;
}
