.container-snap{
  overflow: scroll;
overflow-x: hidden;
height: 100%;
  scroll-snap-type: y mandatory;
  /* Reserve space for header and additional space so above page are visible a bit*/ 
  /* scroll-padding-top:  calc(var(--bar-height) + var(--extra-space)); */

  position: absolute;

  top:0;
  bottom:0;
  left: 0;
  right: 0;

  
  /* Enable Safari touch scrolling physics which is needed for scroll snap */
  -webkit-overflow-scrolling: touch; 
}
.wrapper-snap{
   scroll-snap-align: start;
   object-fit: fill; /* snap align start */

  
}